!.gitkeep
*.DS_Store
*~
*.egg/
*.pyc
*.pyo
*.cpp
*.so
\#*\#
.\#*
.coverage
.eggs/
.idea/
!.gitkeep
*.DS_Store
*.caffemodel
*.pkl
*.bin
*.vec
*.txt
*.db
*.h5
*.jpg
*.jpeg
*.png
*.npz
openaigym.*
*.gz
*.dot
